<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Kaopiz Daily Report", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Log in", "https://slack.com/oauth/authorize?scope=chat:write:bot+users:read&client_id=2760961654.22987639603&redirect_uri=http://localhost:3000/report"%></li>
      </ul>
    </nav>
  </div>
</header>